*{
	margin: 0;
	padding: 0;
}
.pgwMenu{
	background-color:#242424;
	height: 50px;
	position: relative;
}
.pgwMenu ul{
	white-space: nowrap;
}
.pgwMenu li{
	float: left;
	list-style: none;
	font-size: large;
}
.pgwMenu li:nth-child(1){
	font-size: x-large;
	font-weight: bolder;
}
.pgwMenu li a:hover{
	background: #666;
	text-decoration: none
}
.pgwMenu a{
	display: block;
	color: #fff;
	line-height: 50px;
	padding: 0 12px;
	text-decoration: none;
}
.pgwMenu a.selected{
	background: #777;
}
.pgwMenu .pm-links.mobile,
.pgwMenu .pm-viewMore > ul{
	background: #242424;
	box-shadow: 2px 2px 4px #777;
	position: absolute;
	left: 0;
	top: 100%;
	z-index: 1000;
}
.pgwMenu .pm-viewMore{
	display: none;
	position: relative;
}
.pgwMenu .pm-viewMore > a{
	display: inline-block;
}
.pgwMenu .pm-viewMore > ul{
	left: auto; 
	ight: 0;
}
.pgwMenu .pm-viewMore li{
	float: none;
}
.pgwMenu .pm-viewMore span.icon,
.pgwMenu .pm-viewMore span.white {
	border-color: #fff transparent;
	border-style: solid;
	border-width: 8px 6px 0;
	margin-left: 3px;
	display: inline-block
}
.pgwMenu.light .pm-viewMore span.icon,
.pgwMenu .pm-viewMore span.black{
	border-color: #000 transparent;
	border-style: solid;
	border-width: 8px 6px 0;
	margin-left: 3px;
	display: inline-block;
}
.pgwMenu .pm-links.mobile li,
.pgwMenu .pm-viewMore > ul > li {
	display: block;
	clear: both;
	width: 175px;
}
.pgwMenu .pm-dropDown,
.pgwMenu .pm-viewMore,
.pgwMenu .pm-viewMore > ul {
	display: none;
	text-align: center;
}
.pgwMenu .pm-dropDown a{
	display: inline-block;
	background: #777;
}
.pgwMenu .pm-dropDown a.active,
.pgwMenu .pm-viewMore a.active {
	background: #666;
}
.pgwMenu .pm-dropDown span.icon,
.pgwMenu .pm-dropDown span.white{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwQAADsEBuJFr7QAAABZ0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMDvo9WkAAABKSURBVEhL7ZOxDQAwCMN6O4/T0tmjsxHJDB4yROJ0dz3s1BRHEi2OTREBpQFKA5QGKA3m7IP8RKeIgNIApQFKA5QGc/ZBfkJTdF0oUafLBAFNbAAAAABJRU5ErkJggg==) no-repeat;
    display: block;
    height: 22px;
    width: 22px;
    margin: 9px 5px;
}

