{% extends "base.html" %}
{% block head %}
    {% block title %}
        <title>薪水({{ city }})--职位信息</title>
    {% endblock %}
    {{ super() }}
    <script type="text/javascript" src={{url_for('static', filename='js/salary.js')}}></script>
{% endblock %}
{% block content %}
        <div id="container1" style="height: 500px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>
        <div id="container2" style="height: 500px; min-width: 310px; max-width: 800px; margin: 0 auto"></div>
    <script>
    </script>
{% endblock %}